
<html>
	<head> <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
	<link rel="stylesheet" type="text/css" href="styler.css">
	</head>
	<body>
		 
     <div ng-app="" ng-init="capitals=[
      {state:'California',capital:'Sacramento'},
      {state:'Oregon',capital:'Salem'},
      {state:'Nevada',capital:'Carson City'},
      {state:'Arizona',capital:'Phoenix'}]">
       
               <ul>
          <li ng-repeat="x	in capitals">
            {{ x.state + ', ' + x.capital }}
          </li>
              </ul>
              <div ng-app = "">
         <p>Enter your Name: <input type = "text" ng-model = "name"></p>
         <p>Hello <span ng-bind = "name"></span>!</p>
      </div>
         
	<nav class="{{active}}" ng-click="$event.preventDefault()">

		<!-- When a link in the menu is clicked, we set the active variable -->

		<a href="#" class="California" ng-click="active='Sacramento'">California</a>
		<a href="#" class="Oregon" ng-click="active='Salem'">Oregon</a>
		<a href="#" class="Nevada" ng-click="active='Carson City'">Nevada</a>
		<a href="#" class="Arizona" ng-click="active='Phoenix'">Arizona</a>
	</nav>

	<p ng-hide="active">Please Click A State To Find Its Capital</p>
	<p ng-show="active">The capitol is: <b>{{active}}</b></p>
	
</div>

</body>
<html>